<!doctype html>
<html>
  <head>
    <title>Ash</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script language="javascript" type="text/javascript" src="/static/jquery-2.1.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/poembuilder.js"></script>
  </head>

  <body>
    <div id="container">
      <div id="leftpanel">
        <div id="controls">
          <button type="button" id='add'>Add Word</button>
          <button type="button" id='newline'>New Line</button>
          <button type="button" id='generate'>Generate</button>
        </div>
        <div id="spec">
          <div class="linebox" id="1"></div>
        </div>
      </div>
      <div id="poemtext">Poem text</div>
    </div>
  </body>

</html>
